<div id="content">
    <div id="content_c1">
        <h1>USERS LIST</h1>
    </div>
    <br/>
    <div id="content_c2" class="admin">
      <br class="clearfloat" />

        <table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
            <% unless @users.blank? %>
              <tr>
                <th class="table-header-repeat line-left minwidth-1"><a href="#">Name</a></th>
                <th class="table-header-repeat line-left minwidth-1"><a href="#">EMAIL</a></th>
                <th class="table-header-repeat line-left"><a href="#">CITY</a></th>
                <th class="table-header-repeat line-left"><a href="#">POST CODE</a></th>
                <th class="table-header-repeat line-left">ACTIONS</th>
              </tr>
              <% @users.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.city %></td>
                <td><%= user.post_code %></td>
                <td><%= link_to('', {:action => 'edit', :id => user.id}, {:class => "icon-1 info-tooltip", :title => "Edit"})  %>
                    <%= link_to '', user, :confirm => 'Are you sure you want to Remove this user?', :method => :delete, :class => "icon-2 info-tooltip", :title => "Remove" %>
				            <%= link_to "", user, :class => "icon-3 info-tooltip", :title => "View" %>
				            <%= link_to('', {:controller => 'admin', :action => 'user_order_history', :id => user.id}, {:class => "icon-history info-tooltip", :title => "Order History"})  %>
				            <%= link_to('Points', {:controller => 'admin', :action => 'user_loyalty_points', :id => user.id}, {:class => "info-tooltip", :title => "Order History"})  %>
                </td>
              </tr>
            <% end %>
            <% else %>
              List Empty
            <% end %>
        </table>
        <%= link_to "Add New User", new_user_path %>

    </div>

    <br class="clearfloat" />
</div>

<div id="peach_bar_wrapper">
</div>

