<p>
  <b>Item name:</b>
  <%=h @price_list.item_name %>
</p>

<p>
  <b>Price:</b>
  <%=h @price_list.price %>
</p>

<p>
  <b>Price category:</b>
  <%=h @price_list.price_category_id %>
</p>


<%= link_to 'Edit', edit_price_list_path(@price_list) %> |
<%= link_to 'Back', price_lists_path %>