<div class="left-col">
  <h2>CORPORATE</h2>
  <ul class="<%= class_name(corporate_path) %> add-margin">
    <li><a href="<%= corporate_path %>"><span>Summary</span></a></li>
  </ul>
  <h3>Subscriptions:</h3>
  <ul class="<%= class_name(suit_and_shirt_plan_corporate_path) %>">
    <li><a href="<%= suit_and_shirt_plan_corporate_path %>"><span>Suit &amp; Shirt Plans</span></a></li>
  </ul>
  <ul class="<%= class_name(shirt_plan_corporate_path) %>">
    <li><a href="<%= shirt_plan_corporate_path %>"><span>Shirt Plans</span></a></li>
  </ul>
  <ul class="<%= class_name(faq_corporate_path) %>">
    <li><a href="<%= faq_corporate_path %>"><span>F.A.Q.</span></a></li>
  </ul>
</div>
